<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
			    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!-- Data source -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/ehrs_db" />
		<property name="username" value="root" />
		<property name="password" value="elemenT1" />
	</bean>

	<!-- Hibernate SessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingDirectoryLocations">
			<value>/WEB-INF/hbm</value>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
			</props>
		</property>
	</bean>

	<!-- Properties wiring -->
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>/WEB-INF/classes/errors</value>
				<value>/WEB-INF/classes/labels</value>
			</list>
		</property>
		<property name="useCodeAsDefaultMessage" value="true" />
	</bean>

	<!-- Bean to use sha-256 hash algorithm -->
	<bean id="passwordEncoder" class="org.springframework.security.providers.encoding.ShaPasswordEncoder">
		<constructor-arg value="256" />
	</bean>

	<!-- DAOs -->
	<bean id="userDao" class="lv.kvd.lu.user.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="countryDao" class="lv.kvd.lu.country.CountryDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="positionDao" class="lv.kvd.lu.position.PositionDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="officeDao" class="lv.kvd.lu.office.OfficeDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="projectDao" class="lv.kvd.lu.project.ProjectDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="groupDao" class="lv.kvd.lu.group.GroupDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="skillDao" class="lv.kvd.lu.skill.SkillDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="userSkillsDao" class="lv.kvd.lu.user.UserSkillsDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="messageDao" class="lv.kvd.lu.message.MessageDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>	

</beans>